<%- include('headder') -%>
<div class="login">
	<h1>Login</h1>
    <form method="post" action="/signup">
        <input type="text" name="fname" placeholder="First Name"  required="required" />
        <input type="text" name="sname" placeholder="Second Name"  required="required" />
    	<input type="email" name="email" placeholder="Email"  required="required" />
        <input type="password" name="password" placeholder="Password"  required="required" />
        <input type="password" name="retypePassword" placeholder="Retype Password"  required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        <label for="" class="messagebtn"><%= locals.message ? message : "" %></label>
    </form>
</div>
<%- include('footer') -%>